<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletYoutubeFavorite</display-name>
  
  <!-- 필터 선언 -->
  <filter>
  	<filter-name>FilterPreReqTran</filter-name>
  	<filter-class>filters.FilterPreReqTran</filter-class>
  	
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  	<init-param>
  		<param-name>blockKeywords</param-name>
  		<param-value>SELECT|UPDATE|DELETE|DROP|ALTER</param-value>
  	</init-param>
  </filter>
  
  <!-- 필터에 대한 URL 매핑 -->
  <filter-mapping>
  	<filter-name>FilterPreReqTran</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 서블릿 선언 -->
  <servlet>
  	<servlet-name>VideoList</servlet-name>
  	<servlet-class>video.servlets.VideoListServlet</servlet-class>
  </servlet>
  
  <!-- 서블릿에 대한 URL 매핑 -->
  <servlet-mapping>
  	<servlet-name>VideoList</servlet-name>
  	<url-pattern>/video/getVideoList</url-pattern>
  </servlet-mapping>
  
  <!-- 에러 페이지 설정 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/pageNotFound</location>
  </error-page>
  <error-page>
	<exception-type>java.lang.Exception</exception-type>
  	<location>/html/commonErrorExeption.html</location>
  </error-page>
  
  <welcome-file-list>
  
    <welcome-file>html/forbiddenAccess.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>